@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.ttf") format("ttf");
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.ttf") format("ttf");
  font-weight: bolder;
}
