@import "addons/fonts";
// Colors
$pink: #ed145b;
$white: #f4f4f4;
$grey: #838383;
$darkgrey: #5a5a5a;
$footergrey: #2b2b2b;
// Breakpoints
$smallScreen: 1024px;
$mobile: 768px;
$wrapper: 1135px;
// Style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus {
        outline: 2px dotted $pink;
    }
}

body {
    background: $pink;
}

.wrapper {
    margin: 0 auto;
    max-width: 90%;
    @media screen and (min-width: $wrapper) {
        max-width: $wrapper;
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 39px 0;
    }
    &__toggle {
        font-family: "Lato", sans-serif;
        color: rgba(161, 161, 161, 0.7);
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        transition: all 0.2s linear;
        &:hover {
            color: $pink;
            cursor: pointer;
        }
    }
}

.nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__link {
        font-family: "Lato", sans-serif;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        padding: 5px 0;
        transition: color 0.2s linear;
        &:hover {
            color: $pink;
        }
    }
}

.nav-links--visible {
    display: flex;
    background: rgba(21, 21, 21, 0.7);
}

.header {
    padding-bottom: 30px;
    background: url("https://imgur.com/xIVs6Q5.png");
    background-size: cover;
    background-position: center;
    @media screen and (mix-width: $mobile) {
        padding-bottom: 0;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding-top: 80px;
    }
    &__title {
        font-family: "Lato", sans-serif;
        text-align: center;
        color: white;
        font-weight: lighter;
        font-size: 46px;
        letter-spacing: 1px;
        text-transform: uppercase;
        &--first-word {
            font-weight: bolder;
        }
    }
    &__line {
        margin: 40px 0;
        height: 2px;
        width: 200px;
        background: $pink;
        border: 0;
    }
    &__text {
        font-family: "Lato", sans-serif;
        font-weight: lighter;
        color: white;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 38px;
    }
    &__button {
        font-family: "Lato", sans-serif;
        margin-top: 30px;
        padding: 19px 52px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        background: $pink;
        border-radius: 27px;
        @media screen and (min-width: $mobile) {
            margin-top: 66px;
            transition: all 0.2s linear;
            &:hover {
                color: $pink;
                background: $white;
            }
        }
    }
}

.about {
    background: $white;
    padding-top: 20px;
    @media screen and (min-width: $mobile) {
        padding-top: 150px;
        -webkit-clip-path: polygon(0 39px, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 39px, 100% 0, 100% 100%, 0% 100%);
    }
    &__title {
        font-family: "Lato", sans-serif;
        font-style: italic;
        color: $grey;
        font-size: 38px;
        text-align: left;
    }
    &__line {
        margin: 35px auto 45px auto;
        height: 2px;
        width: 200px;
        background: $pink;
        border: 0;
        @media screen and (min-width: $mobile) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__text {
        font-family: "Lato", sans-serif;
        margin-bottom: 53px;
        color: $grey;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 30px;
    }
    &__link {
        position: relative;
        font-family: "Lato", sans-serif;
        color: $pink;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 15px;
        transition: all 0.1s linear;
        &:hover {
            color: $pink + 40;
        }
        &::after {
            position: absolute;
            top: 0;
            right: -23px;
            content: "▶";
            color: $pink;
            font-weight: bold;
            font-size: 8px;
            transform: translateY(25%);
        }
    }
    &__right-macbook {
        display: none;
        @media screen and (min-width: $smallScreen) {
            display: block;
        }
    }
}

.services {
    padding-bottom: 120px;
    background: $white;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-family: "Lato", sans-serif;
        font-size: 38px;
        letter-spacing: 1px;
        font-weight: normal;
        font-style: italic;
        color: $grey;
        text-align: center;
    }
    &__line {
        margin: 39px 0;
        height: 2px;
        width: 200px;
        background: $pink;
        border: 0;
    }
    &__text {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 30px;
        color: grey;
    }
}

.services-box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    @media screen and (min-width: $mobile) {
        margin-top: 134px;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
    }
}

.services-icon {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 15px;
    @media screen and (min-width: $mobile) {
        margin-top: 0;
    }
    &__caption {
        margin-top: 25px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        color: $pink;
        font-size: 15px;
        text-align: center;
        @media screen and (min-width: $mobile) {
            margin-top: 78px;
        }
    }
}

.testimonials {
    padding: 100px 0;
    background: url("https://imgur.com/xIVs6Q5.png");
    background-size: cover;
    background-position: top;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left-arrow,
    &__right-arrow {
        &:hover {
            cursor: pointer;
        }
    }
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    @media screen and (min-width: $smallScreen) {
        margin: 0 196px;
    }
    &__text {
        margin: 50px 0;
        font-family: "Lato", sans-serif;
        font-weight: lighter;
        font-style: italic;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 40px;
        text-align: center;
        color: white;
    }
}

.prices {
    padding: 150px 0 0 0;
    background: $white;
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    &__title {
        display: block;
        margin: 0 auto;
        font-family: "Lato", sans-serif;
        font-size: 38px;
        letter-spacing: 1px;
        font-weight: normal;
        font-style: italic;
        color: $grey;
        text-align: center;
    }
    &__line {
        display: block;
        margin: 39px auto;
        height: 2px;
        width: 200px;
        background: $pink;
        border: 0;
    }
}

.price-table {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @media screen and (min-width: $mobile) {
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-around;
    }
    &__card {
        display: flex;
        flex-direction: column;
        font-family: "Lato", sans-serif;
        width: 262px;
        &:hover {
            .card-top {
                background: $pink;
            }
        }
    }
}

.card-top {
    display: flex;
    padding-top: 33px;
    align-items: center;
    flex-direction: column;
    background: $darkgrey;
    &__price {
        display: block;
        font-size: 50px;
        color: $white;
        letter-spacing: 1px;
        line-height: 38px;
        font-weight: bold;
        text-align: center;
        &--dollar {
            font-size: 20px;
        }
    }
    &__timestamp {
        display: block;
        font-size: 15px;
        color: $white;
        letter-spacing: 0;
        line-height: 38px;
        font-weight: bold;
        text-align: center;
    }
    &__type {
        position: relative;
        padding: 10px 58px;
        transform: translateY(50%);
        font-size: 15px;
        color: $grey;
        text-transform: uppercase;
        letter-spacing: 0;
        font-weight: bold;
        border-radius: 24px;
        background: $white;
    }
}

.card-bottom {
    display: flex;
    padding: 64px 0 36px 0;
    align-items: center;
    flex-direction: column;
    background: $white;
    &__desc {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 38px;
        color: $grey;
    }
    &__button {
        margin-top: 40px;
        padding: 11px 0;
        width: 200px;
        font-family: "Lato", sans-serif;
        line-height: 38px;
        letter-spacing: 0;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: $white;
        background: $pink;
        border-radius: 25px;
        &:focus {
            box-shadow: 2px 2px 5px $pink;
        }
    }
}

.why-box {
    padding-top: 288px;
    background: $white;
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &:first-child {
            @media screen and (min-width: $mobile) {
                margin-bottom: 88px;
            }
        }
    }
}

.why-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    @media screen and (min-width: $mobile) {
        margin-bottom: 0;
    }
}

.why-card-desc {
    margin-left: 26px;
    &__title {
        display: block;
        margin-top: -10px;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 30px;
        font-weight: bold;
        text-transform: uppercase;
        color: $pink;
    }
    &__text {
        display: block;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 30px;
        max-width: 262px;
        font-weight: lighter;
        color: $grey;
    }
}