// Colors
$grey: #333;
$bodybg: #eaeaea;
$white: honeydew;
$pink: #ff2e63;
$blue: #08d9d6;
//Sizes
$tablet: 768px;
$pc: 1366px;
//Import
@import "extra/fonts";
//Default
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.05s all linear;
    &:focus {
        outline: 3px solid $pink;
    }
}

body {
    font-family: "DroidSansMono", monospace;
    font-size: 18px;
    background: $bodybg;
}

.wrapper {
    margin: auto;
    width: 90%;
    @media screen and (min-width: $pc) {
        width: 75%;
    }
}

// Button && menu styling
.btn-open-menu {
    position: fixed;
    top: 0;
    right: 0;
    margin: 3px 3px 0 0;
    padding: 0 10px;
    background: transparent;
    font-size: 2em;
    color: $grey;
    border-color: transparent;
    text-shadow: 1px 1px 1px $white;
    @media screen and (min-width: $pc) {
        font-size: 3em;
        padding: 0 20px;
    }
    &:hover {
        color: $pink;
        text-shadow: 1px 1px 1px $blue;
    }
}

.nav {
    position: relative;
    right: 10em;
    width: 10em;
    display: none;
    min-height: 100vh;
    background: $grey;
}

.links-box {
    padding-top: 3px;
    &__link {
        margin: auto;
        display: block;
        width: calc(100% - 6px);
        padding: 10px 0;
        text-decoration: none;
        text-align: center;
        color: $white;
        &:hover {
            color: $blue;
            background: $pink;
        }
    }
}

.open {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 999;
}

// Site styling //
// Landing page
.landing {
    min-height: 100vh;
    padding-top: 2.5em;
    text-shadow: 1px 1px 1px $pink, 1px -1px 1px $blue;
    &__name {
        padding: 5px;
        border: 5px solid $blue;
        text-align: center;
        @media screen and (min-width: $pc) {
            width: 60%;
            margin-left: 10%;
            font-size: 1.5em;
        }
    }
    &__prof,
    &__quote {
        display: none;
        @media screen and (min-width: $tablet) {
            display: block;
            width: 60%;
            padding: 5px;
            text-align: center;
        }
    }
    &__prof {
        margin: 20px 0 20px 35%;
        font-size: 1.3em;
        border: 5px solid $grey;
    }
    &__quote {
        margin-left: 30%;
        font-size: 1em;
        border: 5px solid $pink;
    }
}

.portrait {
    display: block;
    margin: 0 auto 1em auto;
    width: 300px;
    &__item {
        width: inherit;
        &:last-child {
            padding: 5px;
            border: 5px solid $pink;
        }
    }
}

// Portfolio
.portfolio {
    min-height: 100vh;
    &__title {
        display: inline-block;
        position: relative;
        left: 50%;
        margin: 1em 0;
        padding: 0 10px 10px 10px;
        border-left: 5px solid $blue;
        border-right: 5px solid $blue;
        border-bottom: 5px solid $blue;
        font-size: 2em;
        text-align: center;
        transform: translateX(-50%);
        text-shadow: 1px 1px 1px $pink, 1px -1px 1px $blue;
    }
}

.gallery {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    @media screen and (min-width: $tablet) {
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
    }
    &:nth-child(2) {
        margin-top: 0;
    }
}

.gallery-item {
    margin-top: 1em;
    width: 300px;
    @media screen and (min-width: $tablet) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: calc(50% - 10px);
        margin: 1em 5px;
    }
    @media screen and (min-width: $pc) {
        width: calc(((1/3)*100%) - 10px);
    }
    &__desc,
    &__link {
        margin-top: 0.5em;
    }
    &__title,
    &__desc {
        text-align: center;
    }
    &__title,
    &__link {
        color: $pink;
    }
    &__title {
        text-shadow: 1px 1px 1px $blue;
    }
    &__desc {
        display: block;
        line-height: 1.3em;
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        &:hover {
            color: $blue;
            font-weight: bold;
        }
    }
}

.gallery-image {
    display: block;
    margin-bottom: 20px;
    width: 300px;
    @media screen and (min-width: $tablet) {
        width: 100%;
        transition: 0.3s;
        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 6px $pink, -2px -2px 6px $blue;
        }
    }
    &__item,
    &__picture {
        width: 100%;
    }
}

.resizeImg {
    width: 80%;
}

.dn {
    display: none;
}

.showImg {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    z-index: 2;
}

// Contact
.contact-box {
    position: relative;
    padding: 10em 0;
    &__title {
        display: inline-block;
        position: relative;
        margin: 0 0 1em 0;
        padding: 0 10px 10px 10px;
        border-left: 5px solid $pink;
        border-right: 5px solid $pink;
        border-bottom: 5px solid $pink;
        font-size: 2em;
        text-align: center;
        text-shadow: 1px 1px 1px $pink, 1px -1px 1px $blue;
    }
    .wrapper {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}

.contact-details {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    &__name {
        font-size: 1.4em;
        margin-bottom: 10px;
        color: $pink;
        text-shadow: 1px 1px 1px $blue;
    }
    &__method {
        margin: 10px 0;
        font-weight: bold;
        color: $pink;
        text-shadow: 1px 1px 1px $blue;
    }
    &__link {
        text-decoration: none;
        font-size: 0.8em;
        color: $blue;
        text-shadow: 1px 1px 2px $pink;
        @media screen and (min-width: $tablet) {
            font-size: 1em;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    &__text {
        width: inherit;
        text-align: right;
        color: $blue;
        font-size: 0.8em;
        text-shadow: 1px 1px $pink;
        cursor: default;
    }
    .text-pink {
        color: $pink;
        text-shadow: 1px 1px $blue;
        &:hover {
            color: $blue;
            text-shadow: 1px 1px $pink;
        }
    }
}